* {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #333;
}

body {
	font-size: 24px;
	color: #333;
	background: #c5c5c5;
	font-family: sans-serif;
}

.align-center {
	text-align: center;
}

.align-left {
	margin: 0 25%;
}

h1 {
	font-size: 60px;
	font-weight: bold;
	margin-top: 50px;
}

h2 {
	font-size: 32px;
	font-weight: bold;
	margin: 35px 0;
}

section>p,
ul>li {
	margin-top: 15px;
}

.hexlet-span {
	color: rgb(104, 104, 104);
	font-weight: bold;
}